<div class="container">
  <h2 style="text-align:center;background-color: papayawhip;">Products Available Now!!!</h2>
  <div class="row">

    <div class="col-lg-4 border border-fuchsia rounded-top" style="padding:10px">
      <div class="col-lg-4">
        <img src={{imgonline}} width="300" height="200">
        <div class="col-lg-4">{{item}}</div>
        <div class="col-lg-4">{{price}}</div>
        <div class="col-lg-4">{{Quantity}}</div>

      </div>
    </div>
    <div class="col-lg-4 border border-fuchsia rounded-top" style="padding:10px">
      <div class="col-lg-4">
        <img src={{imgonline1}} width="300" height="200">
        <div class="col-lg-4">{{item1}}</div>
        <div class="col-lg-4">{{price}}</div>
        <div class="col-lg-4">{{Quantity1}}</div>

      </div>
    </div>
    <div class="col-lg-4 border border-fuchsia rounded-left" style="padding:10px">
      <div class="col-lg-4">
        <img src={{img}} width="300" height="200">
        <div class="col-lg-4">{{product}}</div>
        <div class="col-lg-4">{{Money}}</div>
        <div class="col-lg-4">{{Quantity2}}</div>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 border border-fuchsia rounded-top" style="padding:20px">
      <div class="col-lg-4">
        <img src={{img1}} width="300" height="200">
        <div class="col-lg-4">{{Product1}}</div>
        <div class="col-lg-4">{{price}}</div>
        <div class="col-lg-4">{{Quantity}}</div>
      </div>
    </div>
    <div class="col-lg-4 border border-fuchsia rounded-top" style="padding:20px">
      <div class="col-lg-4">
        <img src={{imgsrc}} width="300" height="200">
        <div class="col-lg-4">{{skin}}</div>
        <div class="col-lg-4">{{Price}}</div>
        <div class="col-lg-4">{{Quantity4}}</div>
      </div>
    </div>
    <div class="col-lg-4 border border-fuchsia rounded-top" style="padding:20px">
      <div class="col-lg-4">
        <img src={{imgsrc1}} width="300" height="200">
        <div class="col-lg-4">{{grocessory}}</div>
        <div class="col-lg-4">{{Price}}</div>
        <div class="col-lg-4">{{Quantity4}}</div>
      </div>
    </div>


  </div>
